<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>版本信息</title>
</head>

<body background="/static/index_bg.png">
    <h1>
        <br/><br/><br/>FAN Show版本信息</h1>
    <p><b>Version: 1.2</b></p>
    <h3>日志</h3>
    <p><b>2022.04.24 1.1版本</b>
        <br/>&nbsp-更新了主页、山水画、梵高风格的UI
        <br/>&nbsp-实现了梵高风格的GET请求
        <br/>&nbsp-TODO：调用Camara接口、迁移原理页面、版本信息界面
    </p>
    <p><b>2022.04.28 1.2版本</b>
        <br/>&nbsp-更新主页、山水画、梵高风格的UI
        <br/>&nbsp-实现了从图库上传功能
        <br/>&nbsp-实现了调用Camara接口的功能
        <br/>&nbsp-实现了将迁移后图片保存至相册的功能
        <br/>&nbsp-完成了迁移原理界面和版本信息界面
        <br/>&nbsp-TODO：相机回调存在闪退BUG，待修复
        <br/>&nbsp-TODO：应用名称与图标待修改
        <br/>&nbsp-TODO：版本页面字体待调整
    </p>
    <h3>工作</h3>
    <p><b>UI设计</b> By 钟鑫，边雪纯，焦逸凡</p>
    <p><b>代码实现</b> By 焦逸凡</p>


</body>

</html>